{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('test', '테스트', true) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('test', true) }}
      {{ macros.setting_input_text_and_buttons('download_test_send_url', 'Video URL 테스트', [['download_test_send_url_btn', '전송']], value=arg['download_test_send_url'], desc=['비디오 재생 URL']) }}
      {{ macros.setting_input_text_and_buttons('download_test_video_result_json', 'Video URL 테스트', [['download_test_video_result_json_btn', 'JSON 테스트']], value=arg['download_test_video_result_json']) }}
    {{ macros.m_tab_content_end() }}

  </div><!--tab-content-->
  </form>
</div> <!--전체-->


<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";

$(document).ready(function(){
 
});

$("body").on('click', '#download_test_send_url_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/' + sub + '/send_url',
    type: "POST", 
    cache: false,
    data: {url:$("#download_test_send_url").val()},
    dataType: "json",
    success: function (ret) {
      notify(ret['msg'], ret['ret']);  
    }
  });
});

$("body").on('click', '#download_test_video_result_json_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/' + sub + '/video_result_test',
    type: "POST", 
    cache: false,
    data: {json_filepath:$("#download_test_video_result_json").val()},
    dataType: "json",
    success: function (ret) {
      notify(ret['msg'], ret['ret']);  
    }
  });
});


</script>    
{% endblock %}
